@charset "UTF-8";

@font-face {
    font-family: "PassionOne-Bold";
    src: url(fonts/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "Sriracha-Regular";
    src: url(fonts/Sriracha-Regular.ttf);
}

:root {
    --fonte: Verdana;
    --fonte01: "PassionOne-Bold", sans-serif;
    --fonte02: "Sriracha-Regular";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3% 15px 3% 15px;
}

header > h1 {
    font-family: var(--fonte01);
    font-size: 10vw;
}

header > nav {
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section > p {
    font-family: var(--fonte02);
    font-size: 3vw;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}