@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

h1,
h2 {
  margin-bottom: 20px;
  line-height: 1.2em;
  text-align: left;
}

p {
  margin-bottom: 10px;
  text-align: justify;
}

header,
section.normal {
  padding: 20px;
}

section.flex-content {
  display: flex;
  flex-flow: column nowrap;

  padding: 20px;
  background-color: rgb(198, 198, 198);
}

article.text-media {
  display: flex;
  flex-flow: row wrap;
}

article.media-text {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

article > div.text {
  flex: 1 1 500px;
}

article > div.media {
  flex: 1 0 400px;
}

div.media > img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

div.media > iframe {
  display: block;
  margin: auto;
  width: 90%;
}

/* footer {
    background-color: #0042d3;
    color: white;
    text-align: center;
    padding: 8px;
}

footer > a {
    color: white;
    text-decoration: none;
} */
