@charset "UTF-8";

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

nav > ul > li > a {
  padding: 11px;
  border-radius: 8px;
}
