@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

h1 {
  margin: 30px;
  text-align: center;
}

p,
div {
  margin: 10px;
}

input {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
}

input[type="submit"],
input[type="reset"] {
  background-color: darkgray;
  color: black;
  border: 2px solid black;
  padding: 2px;
}

.mono {
  font-family: monospace;
  font-size: 15px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: gray;
  padding: 5px;
}
