@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('../fonts/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --cor0: #EBE5C5;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'bebas-neue', cursive;
    --fonte-android: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

img {
    width: 100%;
}

footer {
    background-color: var(--cor5);
    color: white;
}