@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('../fonts/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

body {
    background-color: aliceblue;
}