@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: goldenrod;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(78, 0, 0);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}

a {
    color: limegreen;
}