@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('fonts/idroid.otf') format('opentype');
}
@font-face {
    font-family: 'bebas-neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}
/*:root { ME
    --cor0: #20D121;
    --cor1: #35A735;
    --cor2: #3C7C3C;
    --cor3: #355235;
    --cor4: #2A332A;
    --font0: Arial, Helvetica, sans-serif;
    --font1: ;
    --font2: ;
}*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'bebas-neue', sans-serif;
    --font2: 'android', sans-serif;
}

body {
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--font0);
}

header {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 12px;
    margin: -8px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

h1 {
    font-family: var(--font1);
    font-weight: normal;
}

nav{
    text-align: left;
}

nav > a {
    color: var(--cor0);
    font-size: 1em;
    padding-left: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: var(--cor3);
    font-size: 120%;
    padding: 12px;
    border-radius: 5px;
}

main {
    background-color: white;
    color: black;
    margin: 8px 48px;
    padding: 9px 20px;
    min-width: 400px;
    max-width: 800px;
    border-radius: 0px 0px 10px 10px;
}

.link_external {
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

.link_external:hover {
    text-decoration: underline;
}

h2 {
    font-family: var(--font2);
    font-weight: 100;
    color: var(--cor5);
}

h3 {
    background-image: linear-gradient(45deg, var(--cor1), var(--cor0));
    color: var(--cor4);
}

p {
    text-indent: 25px;
}

.mudança_cor {
    color: var(--cor4);
    font-weight: bold;
}

.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 59%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor1);
    padding-top: 0px;
    border-radius: 10px;
}

h4 {
    background-color: var(--cor4);
    color: white;
    padding-top: 1px;
    border-radius: 10px 10px 0px 0px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

#criado {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    margin: 21px -8px 8px -8px;
}