@charset "UTF-8";

@font-face {
    font-family: "PassionOne-Bold";
    src: url(../fonts/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "Sriracha-Regular";
    src: url(../fonts/Sriracha-Regular.ttf);
}

:root {
    --fonte: Verdana, Geneva, Tahoma, sans-serif;
    --fonte01: "PassionOne-Bold", cursive;
    --fonte02: "Sriracha-Regular", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: var(--fonte);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte01);
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
}

header > nav {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
    
a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section > p {
    font-family: var(--fonte02);
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.341);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.518);
    border-radius: 2px;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.411);

}

#img01 {
    background-image: url(../img/background001.jpg);
    background-position: center right;
}

#img02 {
    background-image: url(../img/background002.jpg);
    background-position: left bottom;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}