@charset "UTF-8";

@font-face {
    font-family: "PassionOne-Bold";
    src: url(../fonts/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "Sriracha-Regular";
    src: url(../fonts/Sriracha-Regular.ttf);
}

:root {
    --fonte: Verdana, Geneva, Tahoma, sans-serif;
    --fonte01: "PassionOne-Bold", cursive;
    --fonte02: "Sriracha-Regular", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: var(--fonte);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte01);
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
}

header > nav {
    padding-bottom: 50px;
}

a {
     color: white;
     text-decoration: none;
     font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-size: 3vw;
}

section > p {
    font-family: var(--fonte02);
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.241);
    border-radius: 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}